{# result after edit. But this is one more edit look #}


{% extends 'layout.html.twig' %}

{% block content %}
   <div class="user-edit-block">
    <h1 user-edit-block>user name {{ user.user_name }}</h1>

    <a href="/user/edit?id={{ user.id }}">Edit</a>
    <form action="/user/delete" method="POST">
        <input type="hidden" name="id" value="{{ user.id }}">
        <button>Delete</button>
    </form>
    <a href="/user">Back</a>
   </div>

    <p user-edit-block>{{ user.id }}. {{ user.email }}</p>
{% endblock %}
