{# FIRST LOOK #}
{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Profile {% endblock %}
{% block content %}
<section id="user-block">
        <h1 class="user">FIRST look</h1>
    <div>
        <div class="user-title-container user-container row">
            <div class="col">
                <h3 class="user">Account Setting</h3>
            </div>
            <div class="col">
                <h2 class="greeting-block">Hello {{ user.user_name }}}</h2>
            </div>

            <h1>User</h1>
            <ul>
                {% for u in user %}
                    <li><a href="/user/show?id={{ user.id }}">{{ user.id }} {{ user.user_name }}</a></li>
                {% else %}
                    <li>Nothing to display</li>
                {% endfor %}
            </ul>
            <a href="/user/add">Ajouter</a>
            <ul>
                <li>
                    <a href="">Edit Profile</a>
                <li><a href="/user/show?id={{ user.id }}">{{ user.id }} {{ user.user_name }}</a></li>
                </li>
            </ul>




        </div>
    </div>



    <div>
        <div class="user-title-container user-container row">
            <div class="col">
                <h3 class="user"></h3>
            </div>
            <hr class="line">
            <div class="col">

            </div>
        </div>
    </div>


{% endblock %}
